* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: "Barlow", sans-serif;
}

::-moz-selection {
  background-color: #1976bc;
  color: #000;
}

::selection {
  background-color: #1976bc;
  color: #000;
}

/*
font-family: 'Montserrat', sans-serif;  
*/
.header {
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 99909;
  background-color: #fff;
  display: block;
  padding: 20px 0;
}

.header .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .all .right {
  text-align: end;
}

.header .all .right .dropdown {
  padding: 10px 20px;
  position: relative;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .all .right .dropdown::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 2px;
}

.header .all .right .dropdown:hover {
  border-radius: 2px;
  -webkit-box-shadow: 1px 6px 11px 2px grey;
          box-shadow: 1px 6px 11px 2px grey;
}

.header .all .right .dropdown:hover::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.header .all .right .dropdown:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 2px;
}

.header .all .right .dropdown-content {
  display: none;
  position: absolute;
  top: 3rem;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.header .all .right .dropdown:hover .dropdown-content {
  display: block;
}

.header .all .right i {
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .all .right i:hover {
  color: #1976bc;
}

.header .all .left img {
  width: 70%;
}

.phone-header {
  padding: 5px 0;
  background-color: #f9f9f9;
  z-index: 99;
  width: 100%;
  position: fixed;
  display: none;
}

.phone-header .left i {
  margin: 0;
  font-size: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.phone-header .left i:hover {
  color: #1976bc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.phone-header .right {
  text-align: start;
}

.phone-header .right img {
  width: 50%;
}

.headeractive {
  -webkit-transition: .4s;
  transition: .4s;
  padding: 5px 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 576px) {
  #search .box {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #travel .bg-image .travel-text span {
    font-size: 61px !important;
  }
  #travel .bg-image .travel-text input {
    display: block;
    width: 100% !important;
    margin-bottom: 1rem;
  }
  #travel .bg-image .travel-text button {
    width: 100%;
  }
  #travel .bg-image .travel-text p {
    font-size: 14px;
    width: 100% !important;
  }
  #contact {
    padding-bottom: 4rem !important;
  }
  #contact .allmap .map-visit {
    position: relative !important;
  }
  #steinbeck .steinbeck-text {
    top: 40% !important;
  }
  #steinbeck .steinbeck-text hr {
    width: 100% !important;
    height: 5px !important;
  }
  #steinbeck .steinbeck-text p {
    font-size: 1rem !important;
    margin-top: 3rem !important;
  }
  #first-minutes .first-text h4 {
    font-size: 12px !important;
  }
  #way .way-text p {
    font-size: 14px !important;
  }
  .cityslider div img {
    outline: none !important;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 990px) {
  .header {
    display: none;
  }
  .phone-header {
    display: block;
  }
  .slider .slick-prev,
  .slider .slick-next {
    display: none !important;
  }
  .slider .image-slider .slider-text {
    top: 35% !important;
    width: 100%;
  }
  #travel .bg-image .travel-text span {
    display: block !important;
  }
  #steinbeck .steinbeck-text hr {
    width: 100% !important;
    height: 5px !important;
  }
  #steinbeck .steinbeck-text p {
    font-size: 1rem !important;
    margin-top: 3rem !important;
  }
  #footer .footer-top .box p {
    font-size: 10px !important;
  }
  #footer .footer-top .box input {
    margin-top: 10px;
  }
  #footer .footer-bottom .right {
    text-align: center !important;
  }
  #footer .footer-bottom .right p {
    display: block;
  }
  #footer .footer-bottom .right a {
    font-size: 8px !important;
  }
}

@media (min-width: 1260px) {
  #search .all .col-6 {
    width: 20%;
  }
  #footer .footer-top .box {
    text-align: start !important;
    margin-bottom: 20px;
  }
  #footer .footer-top .box input {
    padding: 0;
  }
}

.slider {
  z-index: 56;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .image-slider {
  position: relative;
}

.slider .image-slider img {
  width: 100%;
  height: 80vh;
}

.slider .image-slider .slider-text {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 15;
  text-align: center;
}

.slider .image-slider .slider-text h6 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.slider .image-slider .slider-text hr {
  opacity: 1;
  margin: 0 auto;
  width: 80px;
  color: #f9f9f9;
  height: 2px;
}

.slider .image-slider .slider-text p {
  margin: 20px 0 40px 0;
  line-height: 35px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.slider .image-slider .slider-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  z-index: 5;
  color: #fff;
}

.slider .image-slider .slider-text .span1::after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 95%;
  left: 0;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 28px;
  z-index: -1;
}

.slider .image-slider .slider-text span {
  color: #fff;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
}

.slider .image-slider .slider-text a {
  margin-left: 10px;
  color: #fff;
  padding: 20px;
  background-color: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider .image-slider .slider-text a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
}

.slider .image-slider .slider-text a:nth-last-child(2) {
  background-color: #8dc645;
}

.slider .image-slider .slider-text a:nth-last-child(2):hover {
  background: -webkit-gradient(linear, bottom #1976bc 0%, to(#8dc645));
  background: linear-gradient(to bottom #1976bc 0%, #8dc645 100%);
}

.slider .slick-prev {
  z-index: 3881;
  left: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider .slick-prev:hover {
  left: -10px;
}

.slider .slick-prev::before {
  color: #fff;
  display: block;
  font-size: 34px;
  line-height: 44px;
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
}

.slider .slick-prev::after {
  color: #fff;
  content: "Previous";
  display: block;
  font-size: 14px;
  margin-left: 3.5rem;
}

.slider .slick-next {
  z-index: 3881;
  right: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider .slick-next:hover {
  right: 10px;
}

.slider .slick-next::before {
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
  color: #fff;
}

.slider .slick-next::after {
  margin-left: -3.75rem;
  color: #fff;
  content: "Next";
  display: block;
  font-size: 14px;
}

#tours {
  position: relative;
  text-align: center;
}

#tours h4 {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  top: -35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  margin: 10px;
}

#tours .box {
  width: 80%;
  z-index: 88;
  position: absolute;
  top: -4rem;
  padding: 2rem 0;
  background-color: aqua;
}

#tours .box a {
  margin-left: 10px;
  color: #fff;
  padding: 20px 60px;
  background: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 1s;
  transition: 1s;
}

#tours .box a:hover {
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1976bc), to(#8dc645));
  background: linear-gradient(to bottom, #1976bc 0%, #8dc645 100%);
}

#search {
  padding-top: 8rem;
  text-align: center;
}

#search .search-text {
  margin: 30px auto;
}

#search .search-text h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #181818;
}

#search .search-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

#search .search-text .span1::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 90%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#search .search-text span {
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#search .search-text p {
  font-family: "Barlow";
  margin-top: 0.5em;
  line-height: 1.75em;
  font-size: 1.1em;
}

#search .box {
  position: relative;
  -webkit-box-shadow: 0 0 5px 0;
          box-shadow: 0 0 5px 0;
  margin-bottom: 30px;
  padding: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#search .box .sticky {
  position: absolute;
  top: -2%;
  z-index: 40;
  left: -2%;
}

#search .box .sticky p {
  background-color: #8dc645;
  color: #fff;
  padding: 5px 20px;
  margin: 0;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

#search .box .sticky p:nth-child(2) {
  font-size: 1rem;
  float: left;
  padding: 8px 20px;
  background-color: #1976bc;
}

#search .box .sticky p:nth-child(2) del {
  font-weight: 300;
  margin-right: 10px;
}

#search .box .sale {
  left: -2%;
  top: 7%;
  z-index: 55;
  position: absolute;
  background-color: #1976bc;
  color: #fff;
  padding: 8px 20px;
  margin: 0;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

#search .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 5px 5px 22px 0;
          box-shadow: 5px 5px 22px 0;
}

#search .box:hover .box-text::after {
  width: 100%;
}

#search .box:hover img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#search .box .box-text {
  height: 220px;
  padding: 20px;
  text-align: start;
  position: relative;
}

#search .box .box-text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 4px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#search .box .box-text a {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: block;
  font-size: 22px;
  line-height: 25px;
  color: black;
  font-weight: 800;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#search .box .box-text a:hover {
  color: #1976bc;
}

#search .box .box-text span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  line-height: 25px;
  color: black;
  font-weight: 400;
  margin-bottom: 15px;
}

#search .box .box-text span:hover {
  color: #1976bc;
}

#search .box .box-text i {
  border-top: 1px solid #9b9393;
  color: #1976bc;
  margin: 20px 0;
  padding: 10px 0 0 0;
  display: block;
}

#search .box .box-text i span {
  margin-left: 10px;
}

#search .box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

#enjoy {
  padding: 8rem 0;
  text-align: center;
}

#enjoy .enjoy-text {
  margin: 0 auto;
}

#enjoy .enjoy-text h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #181818;
}

#enjoy .enjoy-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

#enjoy .enjoy-text .span1::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 90%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#enjoy .enjoy-text span {
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#enjoy .enjoy-text p {
  font-family: "Barlow";
  margin-top: 0.5em;
  line-height: 1.75em;
  font-size: 1.1em;
}

#enjoy .box {
  position: relative;
}

#enjoy .box img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
}

#enjoy .box:hover img {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#enjoy .box .box-text {
  z-index: 4;
  position: absolute;
  top: 20%;
  left: 15%;
  text-align: start;
  width: 75%;
}

#enjoy .box .box-text a {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #181818;
}

#enjoy .box .box-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #181818;
  margin-top: 20px;
}

#enjoy .box .box-text h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #1976bc;
  margin-top: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#enjoy .box .box-text h3 i {
  margin-left: 10px;
  font-size: 12px;
}

#enjoy .box .box-text h3:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #181818;
  margin-top: 10px;
}

#enjoy .box span {
  z-index: 4;
  position: absolute;
  background-color: #8dc645;
  color: #fff;
  padding: 2px 15px;
  top: 10px;
  left: 11px;
  font-size: 13px;
  font-weight: 600;
}

#enjoy .box h2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

#enjoy .box h2 a {
  color: #fff;
}

#way {
  overflow: hidden;
  padding-bottom: 6rem;
  text-align: center;
}

#way .way-text {
  margin: 0 auto;
  padding-bottom: 3rem;
}

#way .way-text h4 {
  font-size: 17px;
  line-height: 17px;
  color: #181818;
}

#way .way-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
}

#way .way-text .span1::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 95%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#way .way-text span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#way .way-text p {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 32px;
}

#way .wayslider {
  margin-bottom: 3rem;
}

#way .wayslider .box {
  text-transform: uppercase;
  outline: none !important;
}

#way .wayslider .box span {
  font-size: 14px;
  line-height: 14px;
  color: #181818;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0 5px 0;
}

#way .wayslider .box p {
  font-size: 20px;
  line-height: 25px;
  color: #181818;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

#way .wayslider .box img {
  margin: 0 auto;
  width: 100px;
}

#way #findbutton {
  margin-top: 2rem;
  border-radius: 2px;
  padding: 20px 30px;
  color: #fff;
  background-color: #1976bc;
  border: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#way #findbutton:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: -webkit-gradient(linear, left bottom, left top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
}

#way .slick-prev {
  top: 12rem;
  z-index: 3881;
  left: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#way .slick-prev:hover {
  left: -10px;
}

#way .slick-prev::before {
  color: #181818;
  display: block;
  font-size: 34px;
  line-height: 44px;
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
}

#way .slick-prev::after {
  color: #181818;
  content: "Previous";
  display: block;
  font-size: 14px;
  margin-left: 3.5rem;
}

#way .slick-next {
  top: 12rem;
  z-index: 3881;
  right: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#way .slick-next:hover {
  right: 10px;
}

#way .slick-next::before {
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
  color: #181818;
}

#way .slick-next::after {
  margin-left: -3.75rem;
  color: #181818;
  content: "Next";
  display: block;
  font-size: 14px;
}

#person {
  margin-bottom: 25px;
  position: relative;
}

#person img {
  width: 100%;
}

#person .p-relative {
  position: relative;
}

#person .personright {
  position: absolute;
  top: -23%;
  margin-top: 3%;
  left: -4%;
  padding: 5em 0;
}

#person .personright::after {
  display: block;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#person .personright .box-text {
  outline: none !important;
  text-align: center;
  margin: 10rem auto;
}

#person .personright .box-text h1 {
  position: relative;
}

#person .personright .box-text h1::after {
  display: block;
  height: 0.75rem;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
}

#person .personright .box-text p {
  margin: auto;
  font-family: initial;
  padding: 4rem 0 2rem 0;
  line-height: 28px;
  font-size: 28px;
}

#person .personright .slick-prev {
  top: 12rem;
  z-index: 3881;
  left: 60px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#person .personright .slick-prev:hover {
  left: -10px;
}

#person .personright .slick-prev::before {
  color: #181818;
  display: block;
  font-size: 34px;
  line-height: 44px;
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
}

#person .personright .slick-prev::after {
  color: #181818;
  content: "Previous";
  display: block;
  font-size: 14px;
  margin-left: 3.5rem;
}

#person .personright .slick-next {
  top: 12rem;
  z-index: 3881;
  right: 9.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#person .personright .slick-next:hover {
  right: 10px;
}

#person .personright .slick-next::before {
  width: 3.125rem;
  border-top: 2px solid;
  display: block;
  content: "";
  font-size: 0.6875rem;
  line-height: 3rem;
  font-family: inherit;
  color: #181818;
}

#person .personright .slick-next::after {
  margin-left: -3.75rem;
  color: #181818;
  content: "Next";
  display: block;
  font-size: 14px;
}

#first-minutes {
  padding: 6rem 0 2rem 0;
}

#first-minutes .slick-dots {
  bottom: -25px;
}

#first-minutes .slick-dots li {
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #aba8a8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#first-minutes .slick-dots li:hover {
  background-color: #1976bc;
  border: 2px solid #1976bc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#first-minutes .slick-dots li button {
  display: none;
}

#first-minutes .first-text {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

#first-minutes .first-text h4 {
  font-size: 17px;
  line-height: 17px;
  color: #181818;
}

#first-minutes .first-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
}

#first-minutes .first-text .span1::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 95%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#first-minutes .first-text span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#first-minutes .first-text p {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 32px;
}

#first-minutes .box {
  outline: none !important;
  z-index: 77;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 #f8f8f8;
          box-shadow: 0 0 5px 0 #f8f8f8;
  margin: 10px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#first-minutes .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 5px 5px 22px 0 #f8f8f8;
          box-shadow: 5px 5px 22px 0 #f8f8f8;
}

#first-minutes .box:hover .box-text::after {
  width: 100%;
}

#first-minutes .box:hover img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#first-minutes .box .sticky {
  position: absolute;
  background-color: #8dc645;
  color: #fff;
  padding: 5px 20px;
  top: -2%;
  left: -2%;
  z-index: 105;
  font-size: 1rem;
  font-weight: 600;
}

#first-minutes .box .box-text {
  padding: 20px;
  text-align: start;
  position: relative;
  height: 130px !important;
}

#first-minutes .box .box-text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 4px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#first-minutes .box .box-text a {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: black;
  font-weight: 900;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#first-minutes .box .box-text a:hover {
  color: #1976bc;
}

#first-minutes .box .box-text span {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #1976bc;
}

#first-minutes .box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

#travel {
  padding: 20px;
}

#travel .bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(http://travelicious.bold-themes.com/main-demo/wp-content/uploads/sites/2/2018/09/bgn-newsletter.jpg);
}

#travel .bg-image .travel-text {
  text-align: start;
  padding: 6rem 2rem;
}

#travel .bg-image .travel-text h6 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

#travel .bg-image .travel-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  z-index: 5;
  color: #fff;
}

#travel .bg-image .travel-text .span1::after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 95%;
  left: 0;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 28px;
  z-index: -1;
}

#travel .bg-image .travel-text span {
  color: #fff;
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
}

#travel .bg-image .travel-text p {
  font-size: 18px;
  margin: 2rem 0;
  width: 50%;
  color: #fff;
}

#travel .bg-image .travel-text input {
  margin-right: 10px;
  width: 50%;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  border: none;
}

#travel .bg-image .travel-text button {
  border-radius: 2px;
  padding: 20px 40px;
  color: #fff;
  background-color: #1976bc;
  border: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#travel .bg-image .travel-text button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: -webkit-gradient(linear, left bottom, left top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
}

#latest {
  padding: 6rem 0;
  text-align: center;
}

#latest .latest-text {
  margin: 0 auto;
  padding-bottom: 3rem;
}

#latest .latest-text h4 {
  font-size: 17px;
  line-height: 17px;
  color: #181818;
}

#latest .latest-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
}

#latest .latest-text .span1::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 95%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#latest .latest-text span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#latest .latest-text p {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 32px;
}

#latest .top .dropdown {
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#latest .top .dropdown::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 2px;
}

#latest .top .dropdown:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
  -webkit-box-shadow: 1px 6px 11px 2px grey;
          box-shadow: 1px 6px 11px 2px grey;
}

#latest .top .dropdown:hover::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

#latest .top .dropdown:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 2px;
}

#latest .bottom {
  padding: 3rem 0;
}

#latest .bottom .boxs {
  padding: 0;
  overflow: hidden;
  position: relative;
}

#latest .bottom .boxs:hover h2 {
  opacity: 0;
}

#latest .bottom .boxs:hover .boxs-text {
  position: absolute;
  bottom: 0%;
  opacity: 1;
}

#latest .bottom .boxs img {
  width: 100%;
  height: 300px;
}

#latest .bottom .boxs h2 {
  text-align: center;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 66;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}

#latest .bottom .boxs h2 a {
  font-family: sans-serif;
  color: #fff;
}

#latest .bottom .boxs .boxs-text {
  text-align: start;
  overflow: hidden;
  position: absolute;
  bottom: -70%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 30px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #d1d6da), to(#e3e6df2d));
  background: linear-gradient(0deg, #d1d6da 50%, #e3e6df2d 100%);
}

#latest .bottom .boxs .boxs-text h3 {
  font-size: 30px;
  color: #181818;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#latest .bottom .boxs .boxs-text p {
  font-size: 15px;
  color: #181818;
  font-weight: 400;
}

#latest button {
  border-radius: 2px;
  padding: 20px 30px;
  color: #fff;
  background-color: #1976bc;
  border: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#latest button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: -webkit-gradient(linear, left bottom, left top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
}

#contact {
  padding-top: 4rem;
}

#contact .contact-text {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

#contact .contact-text .span1 {
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
}

#contact .contact-text .span1::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 95%;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
  height: 28px;
  z-index: -1;
}

#contact .contact-text span {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #181818;
}

#contact .contact-text p {
  margin-top: 30px;
  font-size: 1.1rem;
  line-height: 32px;
}

#contact .allmap {
  position: relative;
}

#contact .allmap .map-visit {
  top: 60px;
  left: 60px;
  z-index: 55;
  position: absolute;
  padding: 40px;
  background-color: #fff;
  width: 350px;
  height: 500px;
  -webkit-box-shadow: 0px 10px 15px 10px #aba8a8;
          box-shadow: 0px 10px 15px 10px #aba8a8;
}

#contact .allmap .map-visit .top span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #181818;
}

#contact .allmap .map-visit .top p {
  padding-bottom: 20px;
  border-bottom: 1px solid #dccbcb;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #181818;
}

#contact .allmap .map-visit .bottom .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#contact .allmap .map-visit .bottom .box .left {
  margin-right: 20px;
}

#contact .allmap .map-visit .bottom .box .left i {
  font-size: 40px;
  color: #1976bc;
}

#contact .allmap .map-visit .bottom .box .right span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #181818;
}

#steinbeck {
  padding: 4rem 0;
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://travelicious.bold-themes.com/main-demo/wp-content/uploads/sites/2/2018/09/bgn-quote-end.jpg);
  margin: 20px;
  background-position: 50% -52.2065px;
}

#steinbeck .steinbeck-text {
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#steinbeck .steinbeck-text hr {
  margin: 0 auto;
  width: 80%;
  position: relative;
  color: #b4b4b4;
  height: 12px;
  opacity: 0.2;
}

#steinbeck .steinbeck-text p {
  margin: 60px auto;
  font-weight: 600;
  color: #fff;
  font-size: 25px;
  height: 38px;
}

#steinbeck .steinbeck-text h2 {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  height: 20px;
}

.cityslider {
  overflow: hidden;
  margin-left: 20px;
  padding-bottom: 40px;
}

.cityslider .slick-dots {
  bottom: 5px;
}

.cityslider .slick-dots li {
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #aba8a8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cityslider .slick-dots li:hover {
  background-color: #1976bc;
  border: 2px solid #1976bc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cityslider .slick-dots li button {
  display: none;
}

.cityslider div {
  overflow: hidden;
  outline: none !important;
}

.cityslider div img {
  outline: none !important;
  width: 300px;
  height: 300px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cityslider div img:hover {
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#footer .footer-top {
  padding: 2rem 0;
  border-top: 1px solid rgba(24, 24, 24, 0.1);
}

#footer .footer-top .box {
  padding: 20px 0;
  text-align: center;
}

#footer .footer-top .box h4 {
  font-size: 20px;
  line-height: 20px;
  color: #181818;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

#footer .footer-top .box a,
#footer .footer-top .box p {
  margin-bottom: 5px;
  text-transform: capitalize;
  line-height: 20px;
  color: gray;
  font-weight: 300;
  display: block;
  font-size: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#footer .footer-top .box a:hover,
#footer .footer-top .box p:hover {
  color: #181818;
}

#footer .footer-top .box .more {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #181818;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#footer .footer-top .box .more:hover {
  color: #1976bc;
}

#footer .footer-top .box input {
  margin-bottom: 10px;
  outline: none;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  padding: 15px;
  width: 90%;
  border-radius: 2px;
  border: 1px solid grey;
}

#footer .footer-top .box button {
  border-radius: 2px;
  padding: 15px 25px;
  color: #fff;
  background-color: #1976bc;
  border: #1976bc;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#footer .footer-top .box button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: -webkit-gradient(linear, left bottom, left top, from(#1976bc), to(#8dc645));
  background: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
}

#footer .footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(24, 24, 24, 0.1);
}

#footer .footer-bottom i {
  font-size: 1rem;
  margin-right: 10px;
}

#footer .footer-bottom p,
#footer .footer-bottom a {
  color: grey;
  font-size: 13px;
  display: inline;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#footer .footer-bottom p:hover,
#footer .footer-bottom a:hover {
  color: #181818;
}
/*# sourceMappingURL=style.css.map */